<div class="row py-1" *ngIf="titulo !== ''">
  <div class="col">
    <h3>
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        {{ titulo }}
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-12 table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let item of columnas">
            {{item.titulo}}
          </th>
          <th *ngIf="acciones.length">
              Opciones
            </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linea of datos | orderby: campoOrden; let l = index">
          <td *ngFor="let columna of columnas; let c = index">
            {{ linea[columna.campo] }}
          </td>
          <td *ngIf="acciones.length">
              <button class="btn btn-primary btn-sm"
                *ngFor="let item of acciones; let a = index"
                (click)="ejecutar(linea)">
                <i class="fa fa-eye" aria-hidden="true"></i>{{ item }}
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
