.component {

  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  background-repeat: none;

  min-height: 100%;

  background-image: url('../assets/backgrounds/tatooine.jpg');

}

.bck-home {
  background-image: url('../assets/backgrounds/tatooine.jpg');
}

.bck-people {
  background-image: url('../assets/backgrounds/tatooine.jpg');
}

.bck-films {
  background-image: url('../assets/backgrounds/tatooine.jpg');
}

.bck-starships {
  background-image: url('../assets/backgrounds/tatooine.jpg');
}

.bck-vehicles {
  background-image: url('../assets/backgrounds/tatooine.jpg');
}

.bck-species {
  background-image: url('../assets/backgrounds/tatooine.jpg');
}

.bck-planets {
  background-image: url('../assets/backgrounds/tatooine.jpg');
}
